* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: lightgreen;
}
/* NAVBAR */
.navbar {
  background-color: turquoise;
}
.navbar-toggler {
  border: 1.5px solid;
}
.navbar-brand img {
  width: 40px;
  height: 40px;
  /* border-radius: 25px; */
  /* border: 1px solid red; */
}

.main-container {
  /* max-width: 1000px; */
  display: flex;
  flex-wrap: wrap;
  background-color: turquoise;
  /* border: 1px solid red; */
  justify-content: center;
  margin: 10px auto;
  /* gap: 10px; */
  border-radius: 10px;
  /* padding: 10px 10px 0px 10px; */
}
.intro {
  /* background-color: red; */
  margin: 0px;
  /* text-align: center; */
  padding: 50px 0px 0px 0px;
}
.contact {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1px 2%;
  display: flex;
  max-width: fit-content;
  background-color: black;
  color: turquoise;
  margin: 20px 0;
}
.cv {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
  border: 1px solid turquoise;
  /* border: 1px solid red; */
  border-radius: 25px;
  padding: 1px 2%;
  display: flex;
  gap: 20px;
  color: black;
  margin: 20px 0;
}
.cv i {
  align-self: center;
}
.socials {
  margin: 10px auto 50px;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
}
.card {
  /* max-width: 200px; */
  margin: 50px 0px 50px 0px;
  height: 400px;
  width: 300px;
  background-color: black;
  /* text-align: center; */
  color: turquoise;
  align-self: center;
}
.card-body h1 {
  font-size: 1.75em;
  font-weight: bold;
}
.card-img {
  /* max-width: 200px; */
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 0px;
}
.card-img-top {
  /* max-width: 200px;  */
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px;
  /* object-position: center ; */
}

/* MyProjectPage */
.Project {
  border: 1px solid black;
  border-radius: 5px;
}
